/* keyframes for rotating animation */
@-webkit-keyframes spin {
  from {
    transform: rotateX(0) rotateY(0) rotateZ(0); }

  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@-moz-keyframes spin {
  from {
    transform: rotateX(0) rotateY(0) rotateZ(0); }

  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@-o-keyframes spin {
  from {
    transform: rotateX(0) rotateY(0) rotateZ(0); }

  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@-ms-keyframes spin {
  from {
    transform: rotateX(0) rotateY(0) rotateZ(0); }

  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes spin {
  from {
    transform: rotateX(0) rotateY(0) rotateZ(0); }

  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

/* scene wrapper */
.wrapper {
  height: 300px;
  margin-top: 50px;
  position: relative;
  perspective: 400;
  perspective-origin: 50% 400px; }

/* cube wrapper */
.cube {
  position: relative;
  margin: 0 auto;
  width: 0px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 14s infinite linear;
  -webkit-transform-origin: 0 400px;
  transition: all 1s linear; }

/* outer cube */
b {
  -webkit-font-smoothing: antialiased;
  position: absolute;
  width: 800px;
  height: 800px;
  display: block;
  font-size: 150px;
  text-align: center;
  line-height: 400px;
  color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 1s linear; }

b.back {
  transform: translate3d(-400px, 0, 400px) rotateY(180deg);
  background: rgba(0, 0, 255, 0.5); }

b.right {
  -webkit-transform: translate3d(0, 0, 0) rotateY(-90deg);
  background: rgba(0, 255, 0, 0.5); }

b.left {
  -webkit-transform: translate3d(-800px, 0, 0) rotateY(90deg);
  background: rgba(255, 0, 0, 0.5); }

b.top {
  -webkit-transform: translate3d(-400px, -400px, 0) rotateX(-90deg);
  background: rgba(255, 255, 0, 0.5); }

b.bottom {
  -webkit-transform: translate3d(-400px, 400px, 0) rotateX(90deg);
  background: rgba(255, 0, 255, 0.5); }

b.front {
  -webkit-transform: translate3d(-400px, 0, -400px);
  background: rgba(0, 255, 255, 0.5); }

/* inner cube */
i {
  position: absolute;
  width: 200px;
  height: 200px;
  display: block;
  background: rgba(127, 127, 127, 0.1);
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  transition: all 1s linear; }

i.front {
  transform: translate3d(-100px, 300px, 100px); }

i.right {
  -webkit-transform: translate3d(0, 300px, 0) rotateY(90deg); }

i.left {
  -webkit-transform: translate3d(-200px, 300px, 0) rotateY(-90deg); }

i.top {
  -webkit-transform: translate3d(-100px, 200px, 0) rotateX(-90deg); }

i.bottom {
  -webkit-transform: translate3d(-100px, 400px, 0) rotateX(90deg); }

i.back {
  -webkit-transform: translate3d(-100px, 300px, -100px) rotateY(180deg); }

body {
  overflow: hidden; }
