/* keyframes for rotating animation */
@-webkit-keyframes spin {
  from { transform: rotateY(0); }
  to   { transform: rotateY(360deg); }
}

@-moz-keyframes spin {
  from { transform: rotateY(0); }
  to   { transform: rotateY(360deg); }
}

@-o-keyframes spin {
  from { transform: rotateY(0); }
  to   { transform: rotateY(360deg); }
}

@-ms-keyframes spin {
  from { transform: rotateY(0); }
  to   { transform: rotateY(360deg); }
}

@keyframes spin {
  from { transform: rotateY(0); }
  to   { transform: rotateY(360deg); }
}

$size: 800px;
$cube-size: 200px;

/* scene wrapper */
.wrapper {
  height: 300px;
  margin-top: 50px;
  position: relative;
  perspective: 400;
  perspective-origin: 50% $size/2;
}

/* cube wrapper */
.cube{
  position: relative;
  margin: 0 auto;
  width: 0px;
  -webkit-transform-style: preserve-3d;
  // -webkit-animation: spin 14s infinite linear;
  transition: all 1s linear;
}

/* outer cube */
b{
  -webkit-font-smoothing: antialiased;
  position: absolute;
  width: $size;
  height: $size;
  display: block;
  background: rgba(255,255,0,0.1);
  // box-shadow:inset 0 0 222px rgba(0,0,0,0.9);
  font-size: 150px;
  text-align: center;
  line-height: $size/2;
  color: rgba(0,0,0,0.5);
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 1s linear;
}
b.back{
  transform: translateX(-$size/2) translateZ($size/2) rotateY(180deg);
}
b.right{
  -webkit-transform: rotateY(-90deg);
  background: rgba(0,255,0,0.5);
}
b.left{
  -webkit-transform: translateX(-$size) rotateY(90deg);
  background: rgba(255, 0, 0, 0.5);
}
b.top{
  -webkit-transform: translateX(-$size/2) translateY(-$size/2) rotateX(-90deg);
  background: rgba(255,255,0,0.5);
}
b.bottom{
  -webkit-transform: translateX(-$size/2) translateY($size/2) rotateX(90deg);
  background: rgba(255,127,255,0.5);
}
b.front{
  -webkit-transform: translateX(-$size/2) translateZ(-$size/2);
}

/* inner cube */
i {
  position: absolute;
  width: $cube-size;
  height: $cube-size;
  display: block;
  background: rgba(127,127,127,0.1);

  font-size: 30px;
  text-align: center;
  line-height: $cube-size/2;
  color: rgba(0,0,0,0.5);
  font-family: sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;

  transition: all 1s linear;
}

$y-offset: $size/2 - $cube-size/2;

i.front{
  transform: translateX(-$cube-size/2) translateY($y-offset) translateZ($cube-size/2);
}
i.right{
  -webkit-transform: translateY($y-offset) rotateY(90deg);
}
i.left{
  -webkit-transform: translateX(-$cube-size) translateY($y-offset) rotateY(-90deg);
}
i.top{
  -webkit-transform: translateX(-$cube-size/2) translateY($y-offset - $cube-size/2) rotateX(-90deg);
}
i.bottom{
  -webkit-transform: translateX(-$cube-size/2) translateY($y-offset + $cube-size/2) rotateX(90deg);
}
i.back{
  -webkit-transform: translateX(-$cube-size/2) translateY($y-offset) translateZ(-$cube-size/2) rotateY(180deg);
}
