/* keyframes for rotating animation */
@-webkit-keyframes spin {
  from { transform: rotateX(0) rotateY(0) rotateZ(0); }
  to   { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}

@-moz-keyframes spin {
  from { transform: rotateX(0) rotateY(0) rotateZ(0); }
  to   { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}

@-o-keyframes spin {
  from { transform: rotateX(0) rotateY(0) rotateZ(0); }
  to   { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}

@-ms-keyframes spin {
  from { transform: rotateX(0) rotateY(0) rotateZ(0); }
  to   { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}

@keyframes spin {
  from { transform: rotateX(0) rotateY(0) rotateZ(0); }
  to   { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}

$size: 800px;
$cube-size: 200px;

/* scene wrapper */
.wrapper {
  height: 300px;
  margin-top: 50px;
  position: relative;
  perspective: 400;
  perspective-origin: 50% $size/2;
}

/* cube wrapper */
.cube{
  position: relative;
  margin: 0 auto;
  width: 0px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 14s infinite linear;
  -webkit-transform-origin: 0 $size/2;
  transition: all 1s linear;
}

/* outer cube */
b{
  -webkit-font-smoothing: antialiased;
  position: absolute;
  width: $size;
  height: $size;
  display: block;
  // box-shadow:inset 0 0 222px rgba(0,0,0,0.9);
  font-size: 150px;
  text-align: center;
  line-height: $size/2;
  color: rgba(0,0,0,0.5);
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 1s linear;
}

$cube-x-offset: 0;
$cube-y-offset: 0;
$cube-z-offset: 0;

b.back{
  transform: translate3d(-$size/2 + $cube-x-offset, $cube-y-offset, $size/2) rotateY(180deg);
  background: rgba(0,0,255,0.5);
}
b.right{
  -webkit-transform: translate3d($cube-x-offset, $cube-y-offset, 0) rotateY(-90deg);
  background: rgba(0,255,0,0.5);
}
b.left{
  -webkit-transform: translate3d(-$size + $cube-x-offset, $cube-y-offset, 0) rotateY(90deg);
  background: rgba(255, 0, 0, 0.5);
}
b.top{
  -webkit-transform: translate3d(-$size/2 + $cube-x-offset, -$size/2 + $cube-y-offset, 0) rotateX(-90deg);
  background: rgba(255,255,0,0.5);
}
b.bottom{
  -webkit-transform: translate3d(-$size/2 + $cube-x-offset, $size/2 + $cube-y-offset, 0) rotateX(90deg);
  background: rgba(255,0,255,0.5);
}
b.front{
  -webkit-transform: translate3d(-$size/2 + $cube-x-offset, $cube-y-offset, -$size/2);
  background: rgba(0,255,255,0.5);
}

/* inner cube */
i {
  position: absolute;
  width: $cube-size;
  height: $cube-size;
  display: block;
  background: rgba(127,127,127,0.1);

  font-size: 30px;
  text-align: center;
  line-height: $cube-size/2;
  color: rgba(0,0,0,0.5);
  font-family: sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;

  transition: all 1s linear;
}

$room-y-offset: $size/2 - $cube-size/2;

i.front{
  transform: translate3d(-$cube-size/2, $room-y-offset, $cube-size/2);
}
i.right{
  -webkit-transform: translate3d(0, $room-y-offset, 0) rotateY(90deg);
}
i.left{
  -webkit-transform: translate3d(-$cube-size, $room-y-offset, 0) rotateY(-90deg);
}
i.top{
  -webkit-transform: translate3d(-$cube-size/2, $room-y-offset - $cube-size/2, 0) rotateX(-90deg);
}
i.bottom{
  -webkit-transform: translate3d(-$cube-size/2, $room-y-offset + $cube-size/2, 0) rotateX(90deg);
}
i.back{
  -webkit-transform: translate3d(-$cube-size/2, $room-y-offset, -$cube-size/2) rotateY(180deg);
}

body {
  overflow: hidden;
}
